@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h1 {
    text-align: center;
    color: #faeb1d;
    font-family: 'Righteous', cursive;
}
label{
    color:#146342;
}

input{
    font-weight: bolder;  
    background-color: rgb(255 248 230);
}

option{
    font-weight: bolder;  
    background-color: rgb(255 248 230);
}

body {
    background: url("../img/1561054.jpg");
    background-color: lightgray;
    margin-top: 5%;
}

form {
    width: 60%;
    margin-left: 19%;
    border-style: double ;
    border-color: #146342;
    background-color: rgb(238, 216, 155);
    border-radius: 5%;
}

fieldset {
    width: 83%;
    margin-left: 6%;
    border-style: dashed ;
    border-color: yellowgreen;
    margin-bottom: 28px;
    margin-top: 28px;
    font-family: 'Righteous', cursive;
}
legend.titulo{
    font-family: 'Righteous', cursive;
    color: #0a3b27;
}
fieldset.sexo{
    width: 83%;
    margin-left: 0%;
    border-style: dashed ;
    border-color: #146342;
    margin-bottom: 28px;
    margin-top: 28px;
    font-family: 'Righteous', cursive;
}

footer.footer{
    text-align: center;
    color: #faeb1d;
    font-family: 'Righteous', cursive;
}

div.button{
    float: right;
    margin-top: -4%;
    margin-right: 7%;
}
div.button-limpar{
    float: right;
    margin-top: -4%;
    margin-right: 19%;
}
button.button{
    font-family: 'Righteous', cursive;
    background-color: #29a06e;
    border-color: #146342;
    border-radius: 6px
}